<div>
	<label for="{{ id }}">{{label}}</label>
	<input type="string" v-model="{{ name }}" id="{{ id }}">
{% if description %}
	<p class="note">
		<span>{{ description }}</span>
	</p>
{% endif %}
</div>
